.single-agency {
	&.full-width-content .content-sidebar-wrap .content,
	&.full-width-content .sidebar-content-wrap .content {
		padding: 0;
	}

	.content-sidebar-wrap .content {
		margin-top: 0;
	}

	.site-inner > .wrap {
		max-width: 100%;
	}

	.site-inner {
		padding: 0;
	}

	h2 {
		@include underline-accent;
		text-transform: uppercase;
		font-size: 2.25rem;
		text-align: center;
		padding-bottom: 2rem;
		margin: 0;
	}
	.flow-arrow {
		@include arrow;
	}
}
