.agency-coals {
	.majorefforts {
		.item {
			& > * {
				height: auto;
			}

			& > a {
				border-width: 0;

				&:hover {
					box-shadow: 0 0 0 1px $light-blue, inset 0 0 0 1px $light-blue;
				}
			}

			@include breakpoint(small only) {
				border: none;
				padding-top: 0;
			}
		}

		@include breakpoint(medium) {
			.row {
				padding-bottom: 0;
				justify-content: left;
				margin: 0 15%;
			}

			.item {
				width: 50%;
			}
		}
	}

	.infographic {
		@include flow-block-color($maroon);
	}
}
