$heading-arrow-bg-color: $dark-blue !default;

.content-heading-image {
	@include arrow-base($z-index: 1);
	@each $key, $value in $template-atts {
		.page-template-#{$key} & {
			@include arrow-color(map-get($value, color), map-get($value, header-arrow-bg-color));
		}
	}
	background-color: $dark-blue;
	position: relative;

	.background {
		position: relative;
		width: 100%;
		z-index: 2;
	}

	h1 {
		@include xy-center;
		background: transparent url("../images/extension-header-title-background.png") no-repeat;
		background-size: cover;
		color: $light-green;
		display: inline-block;
		font: {
			size: 3.2rem;
			family: $template-header-font-family;
		}
		line-height: .9;
		margin: 0;
		padding: rem-calc(25 40);
		width: auto;
		z-index: 2;
	}

	@include breakpoint(small only){
		max-height: 550px;
	}

	@include breakpoint(medium) {
		h1 {
			padding: rem-calc(30 54 28);
		}
	}

	@media screen and (max-width: 450px) {
		h1 {
			font-size: 2.75rem;
			padding: rem-calc(20 30);
		}
	}
}
