.director {
	color: #FFF;

	.layout-container {
		position: relative;
	}

	.text-column {
		padding-bottom: 4%;
		padding-top: 4%;
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			top: 114px;
			left: -28px;
			width: 80px;
			height: 112px;
			background: transparent url("../images/quotes-left.png") no-repeat top left;
			background-size: 100% auto;
		}

		> * {
			position: relative;
			z-index: 2;
		}
	}

	.photo-column {
		z-index: 2;
	}

	.quote {
		text-align: left;
		padding-right: 2em;
	}

	.creds {
		text-align: right;
		margin-top: 1em;

		p {
			font-style: italic;
			margin: 0;
			line-height: 1.2em;
		}
	}

	@include breakpoint(small only){
		.layout-container {
			background-color: $dark-blue;
			padding-left: $small-side-spacing;
			padding-right: $small-side-spacing;
		}

		.text-column {
			padding-top: 175px;
			font-size: 1.25rem;
			padding-bottom: 60px;
		}

		.photo-column {
			position: absolute;
			top: -25px;
			right: 40px;
			width: 140px;
		}
	}

	@media screen and (max-width: 390px){
		.layout-container {
			padding-left: 5%;
			padding-right: 5%;
		}

		.text-column:after {
			top: 135px;
			left: -15px;
			width: 60px;
		}

		.photo-column {
			right: 5%;
		}
	}

	@include breakpoint(medium){
		overflow: hidden;

		.layout-container {
			@include xy-grid-container($break-xlarge, 0);
			@include xy-grid;
			align-items: end;
			justify-content: end;
		}

		.text-column,
		.photo-column {
			@include xy-cell-base();
		}

		.text-column {
			@include xy-cell(9, $gutter-type: padding, $gutters: 3.5rem);
			margin-bottom: 10px;

			&:before {
				content: "";
				display: block;
				background-color: $dark-blue;
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: -1000px;
				right: -1000px;
			}

			&:after {
				top: 13px;
				left: -12px;
				width: 56px;
			}
		}

		.photo-column {
			@include xy-cell(3, $gutter-type: padding, $gutters: 3.5rem);
			position: relative;
		}
	}

	@media screen and (min-width: $break-medium) and (max-width: $break-xlarge){
		.text-column:after {
			left: .8rem;
			width: 25px;
			top: 12%;
		}
	}

	@media screen and (min-width: $break-medium) and (max-width: 1040px){
		.quote {
			padding-right: 1.25rem;
		}

		.text-column {
			padding-bottom: 2%;
			padding-top: 2%;
			padding-right: 1.25rem;

			&:after {
				left: .8rem;
				width: 20px;
				top: 5%;
			}
		}
	}

	@media screen and (min-width: $break-medium) and (max-width: 905px){
		.text-column {
			padding-bottom: 1%;
			padding-top: 1%;
			padding-right: 0;

			&:after {
				left: .25rem;
				width: 20px;
				top: .25rem;
			}
		}
	}

	@media screen and (min-width: $break-medium) and (max-width: 850px){
		.quote {
			padding-right: 0;
			line-height: 1.1rem;
		}

		.creds {
			margin-top: 0;
		}

		.text-column {
			padding-left: 1rem;
			padding-right: 0;
		}

		.photo-column {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	@media screen and (min-width: $break-medium) and (max-width: 700px){
		.text-column {
			margin-bottom: 3px;
		}
	}
}
