$flowchart-color: $light-blue !default;
$flowchart-bracket-width: 10px !default;
$flowchart-small-vertical-spacing: 20px !default;

.flowchart {
	&:not(.no-arrow) {
		@include arrow($bg-color: $dark-blue);
	}
	@include template-arrows($border-color: color, $bg-color: $dark-blue);
	background-color: $dark-blue;
	color: #FFF;

	&.brackets {
		.flowchart-row.bottom .item {
			text-align: center;

			p {
				@include brackets($padding: rem-calc($flowchart-bracket-width, $flowchart-bracket-width + 6));
				@include template-brackets($color: color, $pref-color-key: contrast-color);
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				margin: 0 auto;

				span {
					flex: 0 0 100%;
					display: inline-block;
				}
			}
		}
	}

	@include breakpoint(small only) {
		padding-top: $flowchart-small-vertical-spacing * 2;
		padding-bottom: $flowchart-small-vertical-spacing * 2;
		text-align: center;
		position: relative;

		.item {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		.flowchart-row {
			margin: 0 6%;
		}

		&:not(.brackets) {
			.flowchart-row.top .item:after {
				content: "";
				display: block;
				width: 1px;
				margin: $flowchart-small-vertical-spacing auto;
				height: 30px;
				border: 2px dashed $flowchart-color;
				border-width: 0 0 0 2px;
			}

			.flowchart-row.bottom .item ~ .item:before {
				content: "";
				display: block;
				width: 60px;
				margin: $flowchart-small-vertical-spacing auto;
				height: 1px;
				border: 2px dashed $flowchart-color;
				border-width: 2px 0 0;
			}
		}

		&.brackets {
			.flowchart-row.top .item {
				margin-top: $flowchart-small-vertical-spacing;
				margin-bottom: $flowchart-small-vertical-spacing * 2;
			}

			.flowchart-row.bottom .item ~ .item {
				padding-top: $flowchart-small-vertical-spacing;
				margin-top: $flowchart-small-vertical-spacing;
				margin-bottom: $flowchart-small-vertical-spacing;
				border: 2px dashed $flowchart-color;
				border-width: 2px 0 0 0;
			}

			.flowchart-row.bottom + .flowchart-row.bottom .item:first-child {
				padding-top: $flowchart-small-vertical-spacing;
				border: 2px dashed $flowchart-color;
				border-width: 2px 0 0 0;
			}
		}

		.flowchart-row.bottom .item {
			a {
				color: #FFF;
				font-family: $header-font-family;
				font-size: 1.75rem;
				line-height: 1em;
				text-transform: uppercase;
			}
		}

		&.brackets .flowchart-row.bottom .item {
			p {
				width: 75%;
				min-width: 252px;
				height: 68px;
				padding: $flowchart-bracket-width $flowchart-bracket-width * 2;
				font-size: 1.25rem;
				line-height: 1.2;
				margin-bottom: 0;

				span {
					flex: 0 0 100%;
					display: inline-block;
				}
			}
		}
	}

	@include breakpoint(medium up) {
		padding: 50px 0;

		.flowchart-row {
			$spacing: 64px;

			text-align: center;
			margin: 0 8.5%;

			&.top {
				padding: {
					top: $spacing;
					bottom: $spacing;
				}
				margin-bottom: $spacing / 4;
				position: relative;
				overflow: hidden;

				&:before {
					content: "";
					display: block;
					position: absolute;
					top: $spacing;
					left: 10%;
					right: 10%;
					bottom: -2px;
					border: 1px dashed $flowchart-color;
					z-index: 1;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: $spacing + ($spacing / 4);
					left: 30%;
					right: 30%;
					bottom: -2px;
					border: 1px dashed $flowchart-color;
					z-index: 1;
				}

				.item {
					$border-width: $spacing / 4;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20%;
					z-index: 2;
					background: $dark-blue;
					border: $border-width solid $dark-blue;

					&:after {
						content: "";
						display: block;
						position: absolute;
						top: calc(100% + #{$border-width});
						left: calc(50% - 1px);
						width: 1px;
						height: 64px;
						border: 1px dashed $flowchart-color;
						border-width: 0 1px 0 0;
						z-index: 1;
					}

					&.h5 {
						color: #FFF;
						text-transform: uppercase;
					}
				}

				&.count-3 {
					.item {
						&.h5 {
							width: 40%;
						}
					}
				}
			}

			&.bottom {
				padding-bottom: 32px;

				.item {
					display: inline-block;
					vertical-align: top;
					padding: 0 1%;
				}
			}

			.item img {
				max-height: 50px;
			}
		}

		&:not(.brackets) .flowchart-row.bottom .item {
			width: 20%;

			p {
				margin-top: 10px;
			}
		}

		&.brackets .flowchart-row {

			&.top {
				&.count-3 {
					&:before {
						display: none;
					}

					&:after {
						left: 22%;
						right: 22%;
					}
				}
			}

			&.bottom {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;

				.item {
					&:nth-child(1){
						width: 19.25%;
					}
					&:nth-child(2){
						width: 21.25%;
					}
					&:nth-child(3){
						width: 19%;
					}
					&:nth-child(4){
						width: 21.25%;
					}
					&:nth-child(5){
						width: 19.25%;
					}

					p {
						font-size: 0.9rem;
						line-height: 1.2;
						height: 100%;
					}
				}

				&.count-3 {
					.item {
						width: 28%;
						padding: {
							left: 4.5rem;
							right: 4.5rem;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 865px) {
		.flowchart-row {
			margin: 0 5%;

			&.top .item {
				width: 25%;
			}
		}

		&:not(.brackets) .flowchart-row.bottom .item {
			padding: 0 2%;
		}
	}
}
