$green-grey: #A3B2A4;
$light-blue-3: #A3B2A3;

/* Template Attributes
--------------------------------------------- */
$template-atts: (
	research: (
		color: $light-green,
		header-bg-color: $green,
		text-color: #FFF,
		button-text-color: $anchor-color,
		button-hover: lighten($light-green, 10%)
	),
	coals: (
		color: #B1B4B6,
		header-bg-color: $maroon-alt,
		text-color: #FFF,
		button: $maroon-alt,
		button-text-color: $whiter,
		button-hover: lighten($maroon-alt, 10%),
		major-efforts-border: #C8232E
	),
	tvmdl: (
		color: $green-grey,
		header-bg-color: $green-grey,
		text-color: #000,
		button-text-color: $anchor-color,
		button-hover: lighten($green-grey, 10%),
		major-efforts-border: #A3B2A3
	),
	forest: (
		color: $light-green,
		header-bg-color: $green,
		text-color: #000,
		button-text-color: $anchor-color,
		button-hover: lighten($light-green, 10%)
	),
	extension: (
		color: $light-blue,
		header-bg-color: $dark-blue,
		text-color: #000,
		button-text-color: $anchor-color,
		button-hover: lighten($light-blue, 10%)
	)
);
