/* Typography
--------------------------------------------- */
// $base-font-size: 16px;

/* Breakpoints
--------------------------------------------- */
$break-medium: map-get($breakpoints, medium);
$break-large: map-get($breakpoints, large);
$break-xlarge: map-get($breakpoints, xlarge);
$break-medium: map-get($breakpoints, medium);
$breakpoint-classes: (small medium large xlarge xxlarge);

/* Colors
--------------------------------------------- */
$white: #F8F8F8; // Because sometimes white isn't always white
$whiter: #FEFEFE;
$gray-darker: #222;
$gray-dark: #333;
$gray-medium: #5E564E;
$gray-light-medium: #58585B;
$gray-light: #717074;
$gray-lighter: #D6D6D6;
$gray-lightest: #F7F7F9;
$primary-color: #500000;
$maroon-alt: #4B1111;
$dark-blue: #02233b;
$light-blue: #27A9E1;
$green: #337845;
$light-green: #B4D333;

/* Fonts
--------------------------------------------- */
$header-font-family: 'Tungsten A', 'Tungsten B', 'Oswald', sans-serif;

/* Global
--------------------------------------------- */
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$site-padding: 1rem;

/* Header
--------------------------------------------- */
$site-title: $gray-light;
$site-title-font-weight: 500;
$site-title-font-size: 2.75rem;
$site-title-font-family: "minion-pro", sans-serif;
$site-description: $gray-dark;

/* Navigation
--------------------------------------------- */
$topbar-padding: 0;
$topbar-background: $whiter;
$topbar-submenu-background: $whiter;
$topbar-input-width: auto;
$dropdown-menu-item-background-active: $white;
$dropdownmenu-arrow-color: $gray-darker;
$dropdownmenu-border: none;
$accordion-menu-item-background-active: $white;
$accordionmenu-arrow-color: $gray-darker;
$nav-item-color: $gray-darker;
$dropdown-menu-item-color-active: $gray-darker;
$menu-item-color-active: $gray-darker;
$menu-item-background-active: $white;

/* Title Bar
--------------------------------------------- */
$titlebar-background: transparent;
$titlebar-color: $gray-darker;
$titlebar-padding: 0.5rem;
$titlebar-icon-color: $gray-darker;
$titlebar-icon-color-hover: $gray-darker;
$titlebar-icon-spacing: 0.6rem;
$titlebar-text-font-weight: normal;

/* Content
--------------------------------------------- */
$small-side-spacing: 9%;
$blockquote-border: 2px dashed $light-blue;
$blockquote-color: darken($light-blue, 20%);
$blockquote-padding: rem-calc(9 20 9 19);
$cite-font-size: 0.9rem;
$cite-color: darken($light-blue, 20%);
$hr-border: $blockquote-border;
$table-border-color: $light-blue;
$table-border: 1px solid $table-border-color;

/* Buttons
--------------------------------------------- */
$button-radius: 2rem;
$button-background: $light-blue;
$button-background-hover: $dark-blue;

/* Footer
--------------------------------------------- */
$footer-background: #717074;
$footer-text: #F8F8F8;
$footer-font-family: "Verdana",clean,sans-serif;
$footer-font-weight: 400;
