.subsite-menu {
	font-family: $header-font-family;
	letter-spacing: .1em;
	max-height: 0;
	position: relative;

	.sticky-menu {
		background-color: $whiter;
		position: absolute;

		&.anchorTop {
			position: fixed;
			top: 0;
			bottom: auto;
		}

		&.anchorBottom {
			position: fixed;
			top: auto;
			bottom: 0;
		}
	}

	&.sticky-container .sticky {
		background-color: $whiter;
	}

	.sticky.is-anchored {
		position: absolute;
	}

	.grid-container {
		padding: {
			left: 1rem;
			right: 1rem;
		}
	}

	.menu a:hover {
		background-color: $gray-lightest;
	}

	.grid-x {
		align-items: center;
	}

	.subsite-title {
		margin-bottom: 0;
	}

	a {
		&,
		&:hover {
			color: map-get($foundation-palette, primary);
		}
	}

	.menu-icon {
		color: $black;
		margin: {
			left: 0;
			right: 0;
		}
		width: auto;
		text-align: center;

		&::before {
			content: "...";
			font-size: 3rem;
			line-height: 0;
		}

		&::after,
		&:hover::after {
			display: none;
		}
	}
}

#nav-menu-secondary {
	margin: 1rem;
}
