$subsite-banner-scaledown: .75;
$subtitle-font-ratio: .5;

.subsite-menu {
	font-family: $header-font-family;
	letter-spacing: .1em;
	z-index: 1;
	flex-shrink: 0;

	/* Override site's inline css. */
	&.sticky-container .sticky {
		background-color: $whiter;
	}

	&.white {
		background-color: $whiter;

		.submenu a:hover {
			background-color: $gray-lightest;
		}

		a {
			color: map-get($foundation-palette, primary);
		}

		.menu > li > a:hover {
			color: $whiter;
		}

		.dropdown.menu > li.is-active > a {
			color: $whiter;
		}

		.menu-icon {
			color: $black;
			margin: {
				left: 0;
				right: 0;
			}
			width: auto;
			text-align: center;
			font-size: 3rem;
			line-height: 0;
			position: relative;
			top: -0.1rem;

			&::after,
			&:hover::after {
				display: none;
			}
		}
	}

	a:not(:hover):not(:focus):not(:active) {
		text-decoration: none;
	}

	.sticky-menu {
		border: 1px solid $primary-color {
			width: 1px 0;
		}

		&.anchorTop {
			border-bottom: 1px solid $primary-color;
		}

		&.anchorBottom {
			border-top: 1px solid $primary-color;
		}
	}

	ul.menu {
		justify-content: flex-end;

		> li {
			flex: 0 0 auto;
		}
	}

	.grid-container {
		padding: {
			left: 1rem;
			right: 1rem;
		}
	}

	.subsite-title {
		margin-bottom: 0;
	}

	.sub-menu {
		list-style: {
			type: none;
			position: outside;
		}

		@include breakpoint(small only) {
			margin-left: nth($global-menu-padding, 2);
		}
	}

	@include breakpoint(medium) {
		.sticky-menu .dropdown.menu > li > .is-dropdown-submenu {
			right: 0;
			left: auto;
		}

		.sticky-menu.anchorBottom .dropdown.menu > li > .is-dropdown-submenu {
			top: auto;
			bottom: 100%;
		}

		.sub-menu {
			border: 1px solid $primary-color;
			margin-left: 0;
		}

		.anchorMove .is-dropdown-submenu.js-dropdown-active {
			min-width: 100%;
			flex-flow: row;
			display: flex;

			li {
				flex: 1 1 auto;
				white-space: nowrap;
			}
		}
	}
}

#nav-menu-secondary {
	margin: 1rem;
}

.banner.subsite-header {
	max-height: rem-calc(384);
	overflow: hidden;

	.banner-text {
		padding: (2% * $subsite-banner-scaledown) (2.8% * $subsite-banner-scaledown);
	}

	.title {
		font-size: 7vw * $subsite-banner-scaledown;
	}

	.subtitle {
		font-size: 7vw * $subsite-banner-scaledown * $subtitle-font-ratio;
	}

	@include breakpoint(medium) {
		max-height: rem-calc(192);

		.title {
			font-size: 4rem * $subsite-banner-scaledown;
		}

		.subtitle {
			font-size: 4rem * $subsite-banner-scaledown * $subtitle-font-ratio;
		}

		@include breakpoint(1014px down) {
			.title {
				font-size: 5vw * $subsite-banner-scaledown;
			}

			.subtitle {
				font-size: 5vw * $subsite-banner-scaledown * $subtitle-font-ratio;
			}
		}
	}
}
