$small-vertical-spacing: 20px;

.full-width-content .content-sidebar-wrap .content,
.full-width-content .sidebar-content-wrap .content {
	padding: 0;
}

@include breakpoint(small only) {
	.site-container {
		overflow: hidden;
	}
}

#overview {
	background: transparent url("../images/home-background.jpg") no-repeat;
	color: #FFF;

	@include breakpoint(medium up) {
		background-size: cover;
		padding-bottom: 100px;
	}

	h1 {
		padding-top: 36px;

		.heading-1 {
			background: $dark-blue url("../images/leaders-in.png") no-repeat center center;
			white-space: nowrap;
			text-indent: 1000rem;
			overflow: hidden;
			background-size: 88%;
			display: block;
			width: calc(100% - 18px);
			height: 90px;
			border-right: 1px solid #B4D333;
		}

		.heading-2 {
			font-family: $heading-font-family;
			font-size: 2.25rem;
			line-height: 1em;
			text-transform: uppercase;
			display: block;
			padding: 15px 8px;
			margin-left: 9%;
			margin-right: 9%;
		}

		@include breakpoint(medium up) {
			@include xy-grid;
			margin: 0;
			padding: 6% 0 14%;

			span {
				@include xy-cell-base();
				display: inline-block;
				vertical-align: top;
			}

			.heading-1 {
				@include xy-cell(auto, $gutter-type: padding, $gutters: 2rem);
				background-position: 80% center;
			}

			.heading-2 {
				@include xy-cell(4, $gutter-type: padding, $gutters: 2rem);
				width: 450px;
				font-size: 2.5rem;
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		@media screen and (min-width: $break-medium) and (max-width: 865px) {
			.heading-1,
			.heading-2 {
				@include xy-cell(6, $gutter-type: padding, $gutters: 2rem);
			}

			.heading-1 {
				background-size: 90%;
				background-position: center center;
			}

			.heading-2 {
				font-size: 2rem;
			}
		}
	}
}

#action-items {
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;

	.item {
		background: $maroon-alt;
		color: $whiter;

		h2 {
			font-family: $heading-font-family;
			font-size: 1.5em;
			line-height: 1.1em;
			text-transform: uppercase;
			margin: 0;
			word-wrap: break-word;
			padding: 12px;
		}
	}

	@include breakpoint(small only) {
		$featured-item-height: 404px;

		position: relative;
		padding-top: $featured-item-height + $small-vertical-spacing * 2;
		padding-bottom: $small-vertical-spacing;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -15%;
			top: $featured-item-height + $small-vertical-spacing;
			right: -15%;
			bottom: 0;
			background: #FFF;
			z-index: 1;
		}

		&:after {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			border: 2px solid #B4D333;
			border-width: 0 0 2px 2px;
			background: #FFF;
			transform: rotate(-45deg) translateX(-50%);
			position: absolute;
			bottom: 0;
			left: calc(50% - 2px);
			z-index: 2;
		}

		.item {
			max-width: 500px;
			margin: $small-vertical-spacing auto;
			position: relative;
			z-index: 2;

			&.featured {
				position: absolute;
				top: 0;
				margin-top: 0;
				margin-bottom: 0;
				max-width: 100%;
				width: 100%;
				background: transparent;

				.wrap {
					background: $maroon-alt;
					padding-top: 354px;
					background-repeat: no-repeat;
					background-size: 500px 354px;
					background-position: center top;
					max-width: 500px;
					margin: 0 auto;
				}

				img {
					display: none;
				}
			}

			h2 br {
				display: none;
			}
		}
	}

	@include breakpoint(medium up) {
		@include xy-grid;
		margin-left: 0;
		margin-right: 0;
		font-size: 13px;

		.item {
			$item-padding: 6%;

			@include xy-cell-base();

			&:not(.featured) {
				@include xy-cell(auto, $gutter-type: margin, $gutters: 1rem);
			}

			&.featured {
				@include xy-cell(3, $gutter-type: margin, $gutters: 1rem);
				position: relative;

				@media screen and (min-width: 770px){
					.wrap {
						position: absolute;
						background: $maroon-alt;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			h2 {
				padding: $item-padding $item-padding ($item-padding / 2);
			}

			.description {
				padding: 0 $item-padding $item-padding;

				&::before {
					content: "";
					display: block;
					margin: 0 auto ($item-padding / 2);
					width: 20px;
					height: 1px;
					background: #B5D334;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style-position: outside;

					li {
						list-style-type: none;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

#agencies {
	$stroke-color: #27A9E1;

	background-color: $dark-blue;

	@include breakpoint(small only) {
		padding-top: $small-vertical-spacing * 2;
		padding-bottom: $small-vertical-spacing * 2;
		text-align: center;
		position: relative;

		.item {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		.agency-row {
			margin: 0 6%;
		}

		.agency-row.top .item:after {
			content: "";
			display: block;
			width: 1px;
			margin: $small-vertical-spacing auto;
			height: 30px;
			border: 2px dashed $stroke-color;
			border-width: 0 0 0 2px;
		}

		.agency-row.bottom .item {
			a {
				color: #FFF;
				font-family: $heading-font-family;
				font-size: 2.25rem;
				line-height: 1em;
				text-transform: uppercase;
			}

			~ .item:before {
				content: "";
				display: block;
				width: 60px;
				margin: $small-vertical-spacing auto;
				height: 1px;
				border: 2px dashed $stroke-color;
				border-width: 2px 0 0;
			}
		}

		&:after {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			border: 2px solid #B4D333;
			border-width: 0 0 2px 2px;
			background: $dark-blue;
			transform: rotate(-45deg) translateX(-50%);
			position: absolute;
			bottom: 0;
			left: calc(50% - 2px);
			z-index: 2;
		}
	}

	@include breakpoint(medium up) {
		.agency-row {
			$spacing: 64px;

			text-align: center;
			margin: 0 8.5%;

			&.top {
				padding-top: $spacing;
				padding-bottom: $spacing;
				margin-bottom: $spacing / 4;
				position: relative;
				overflow: hidden;

				&:before {
					content: "";
					display: block;
					position: absolute;
					top: $spacing;
					left: 10%;
					right: 10%;
					bottom: -2px;
					border: 1px dashed $stroke-color;
					z-index: 1;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: $spacing + ($spacing / 4);
					left: 30%;
					right: 30%;
					bottom: -2px;
					border: 1px dashed $stroke-color;
					z-index: 1;
				}

				.item {
					$border-width: $spacing / 4;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20%;
					z-index: 2;
					background: $dark-blue;
					border: $border-width solid $dark-blue;

					&:after {
						content: "";
						display: block;
						position: absolute;
						top: calc(100% + #{$border-width});
						left: calc(50% - 1px);
						width: 1px;
						height: 64px;
						border: 1px dashed $stroke-color;
						border-width: 0 1px 0 0;
						z-index: 1;
					}
				}
			}

			&.bottom {
				padding-bottom: 32px;

				.item {
					display: inline-block;
					vertical-align: top;
					width: 20%;
					padding: 0 1%;
				}
			}

			.item img {
				max-height: 50px;
			}

			@media screen and (max-width: 865px) {
				margin: 0 5%;

				&.top .item {
					width: 25%;
				}

				&.bottom .item {
					padding: 0 2%;
				}
			}
		}
	}
}
