$small-vertical-spacing: 20px;

.buttons,
.exceptional-items,
.director {
	margin-top: 50px;
}

.content-heading-image {
	position: relative;
	background-color: $dark-blue;

	h1 {
		@include xy-center;
		z-index: 2;
		display: inline-block;
		background: transparent url("../images/extension-header-title-background.png") no-repeat;
		background-size: cover;
		padding: 25px 40px;
		width: 85%;
	}
}

.buttons {
	@include arrow($light-green, $gray-light-medium, 1);
	background-color: $gray-light-medium;
	margin-top: 0;
	padding: 50px 0;
	text-align: center;

	a {
		display: inline-block;
		background-color: $light-green;
		padding: 10px 50px;

		@media screen and (max-width: 430px){
			padding: 10px 25px;
		}
	}
}

.exceptional-items {
	overflow: hidden;

	h2 {
		text-transform: uppercase;
		font-size: 3rem;
		line-height: 1em;
		margin-bottom: 50px;
		text-align: center;
	}

	.item {
		padding-bottom: 10%;

		h3,
		.description {
			padding: 0 5%;
			line-height: 1.3;
		}

		h3 {
			font-size: 2.5rem;
			line-height: 2.7rem;
			margin-top: 7.5%;
			margin-bottom: 2.5%;
			text-transform: uppercase;
		}
	}
}

@include breakpoint(small only) {
	.site-container {
		overflow: hidden;
	}

	.content-heading-image {
		@include arrow($light-green, $dark-blue, 1);

		.background {
			position: relative;
			z-index: 2;
		}
	}

	.introduction {
		@include arrow($bg-color: $body-background);
		margin: 50px $small-side-spacing 0;
		padding-bottom: 35px;
		text-align: center;
	}

	.flowchart .bottom .item {
		p {
			font-size: 1.25rem;
			line-height: 1.2;
			margin-bottom: 0;
		}
	}

	.exceptional-items .item {
		background-color: #F1F1F2;
		margin-bottom: 50px;

		.description {
			font-size: 1.25rem;
		}

		.photo img {
			width: 100%;
		}
	}
}

@include breakpoint(medium) {

	.content-heading-image h1 {
		width: auto;
		padding: 50px;
	}

	.introduction {
		@include xy-grid-container($break-medium + 50px, 0);
		padding: 50px 25px;
		text-align: center;
	}

	.flowchart {
		margin-bottom: 0;
	}

	.exceptional-items {
		text-align: center;

		.layout-container {
			@include xy-grid-container($break-large, 0);
		}

		h2 {
			font-size: 2.25rem;
		}

		.row {
			@include xy-grid;

			.item {
				@include xy-cell-base();
				@include xy-cell(auto, $gutter-type: padding, $gutters: 8rem);

				.photo {
					padding: 10px 0;
					position: relative;

					img {
						position: relative;
						z-index: 2;
					}
				}

				&:first-child .photo:before {
					content: "";
					display: block;
					background-color: #F1F1F2;
					position: absolute;
					z-index: 1;
					left: -1000px;
					right: -1000px;
					top: 0;
					bottom: 0;
				}

				.description {
					margin-top: 20px;
					padding: 0 11%;
				}
			}
		}
	}

	.social-media-footer {
		margin-top: 50px;
	}
}
