#overview {
	@include breakpoint(medium up) {
		background: transparent url("../images/home-background.jpg") no-repeat;
		background-size: cover;
		padding-bottom: 100px;
	}
}

h1 {
	@include breakpoint(medium up) {
		@include xy-grid;
		color: #FFF;
		margin: 0;
		padding: 6% 0 14%;

		span {
			@include xy-cell-base();
			display: inline-block;
			vertical-align: top;
		}

		.heading-1 {
			@include xy-cell(auto, $gutter-type: padding, $gutters: 2rem);
			background: $dark-blue url("../images/leaders-in.png") no-repeat 80% center;
			background-size: 75%;
			white-space: nowrap;
			text-indent: 1000rem;
			overflow: hidden;
		}

		.heading-2 {
			@include xy-cell(4, $gutter-type: padding, $gutters: 2rem);
			width: 450px;
			font-family: $heading-font-family;
			text-transform: uppercase;
			font-size: 2.5rem;
			line-height: 1em;
		}
	}
}

#action-items {
	@include breakpoint(medium up) {
		@include xy-grid;
		text-align: center;
		font-size: 13px;

		.item {
			$item-padding: 6%;

			@include xy-cell-base();
			background: $maroon-alt;
			color: $whiter;

			&:not(.featured) {
				@include xy-cell(auto, $gutter-type: margin, $gutters: 1rem);
			}

			&.featured {
				@include xy-cell(3, $gutter-type: margin, $gutters: 1rem);
				position: relative;

				.wrap {
					position: absolute;
					background: $maroon-alt;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			h2 {
				font-family: $heading-font-family;
				font-size: 1.5em;
				line-height: 1.1em;
				text-transform: uppercase;
				padding: $item-padding;
				margin: 0;
			}

			.description {
				padding: 0 $item-padding $item-padding;

				&::before {
					content: "";
					display: block;
					margin: 0 auto ($item-padding / 2);
					width: 20px;
					height: 1px;
					background: #B5D334;
				}
			}
		}
	}
}

#agencies {
	background-color: $dark-blue;

	.agency-row {
		@include breakpoint(medium up) {
			$stroke-color: #27A9E1;
			$spacing: 64px;

			text-align: center;
			margin: 0 100px;

			&.top {
				padding-top: $spacing;
				padding-bottom: $spacing;
				margin-bottom: $spacing / 4;
				position: relative;
				overflow: hidden;

				&:before {
					content: "";
					display: block;
					position: absolute;
					top: $spacing;
					left: 10%;
					right: 10%;
					bottom: -2px;
					border: 1px dashed $stroke-color;
					z-index: 1;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: $spacing + ($spacing / 4);
					left: 30%;
					right: 30%;
					bottom: -2px;
					border: 1px dashed $stroke-color;
					z-index: 1;
				}

				.item {
					$border-width: $spacing / 4;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20%;
					z-index: 2;
					background: $dark-blue;
					border: $border-width solid $dark-blue;

					&:after {
						content: "";
						display: block;
						position: absolute;
						top: calc(100% + #{$border-width});
						left: calc(50% - 1px);
						width: 1px;
						height: 64px;
						border: 1px dashed $stroke-color;
						border-width: 0 1px 0 0;
						z-index: 1;
					}
				}
			}

			&.bottom {
				padding-bottom: 32px;

				.item {
					display: inline-block;
					vertical-align: top;
					width: 20%;
				}
			}

			.item img {
				max-height: 50px;
			}
		}
	}
}
