// Buttons
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	@include button;
}

// Other blocks
.wp-block-pullquote cite {
	text-transform: uppercase;
}

.wp-block-quote {
	width: 40%;
	min-width: 250px;
	clear: both;
	float: left;

	&[style*="text-align:right"] {
		float: right;
		border: {
			left: none;
			right: $blockquote-border;
		}
	}

	&.is-style-large,
	&.is-large {
		width: 60%;
		padding: rem-calc(8 24);

		p {
			line-height: 1.4;
		}
	}

	p {
		line-height: 1.4;
	}
}

.wp-block-pullquote {
	clear: both;
	blockquote {
		border: {
			left: none;
			top: $blockquote-border;
			bottom: $blockquote-border;
		}
		margin-bottom: 0;
		padding-bottom: rem-calc(14);
	}
}

.wp-block-gallery {
	clear: both;
}

.wp-block-file {
	a {
		font-weight: bold;
	}

	* + .wp-block-file__button {
		margin-left: 0.75rem;
		margin-bottom: 0;

	}
}

.wp-block-table {

	&.is-style-stripes {
		border-bottom: $table-border;

		tr:nth-child(2n+1) {
			background-color: lighten($table-border-color, 42%);
		}
	}

}
