$admin: false !default;

// Buttons
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	@include button-base;
}

.wp-block-file .wp-block-file__button {
	background: $button-background;

	&:active,
	&:focus,
	&:hover {
		background: $button-background-hover;
	}
}

.wp-block-button {
	margin-bottom: $global-margin;

	.wp-block-button__link {
		margin: 0;

		&:not(.has-background) {
			background: $button-background;

			&:active,
			&:focus,
			&:hover {
				background: $button-background-hover;
			}
		}
	}
}

.wp-block-button:not(.aligncenter){
	@if($admin == false){
		display: inline-block;
		vertical-align: top;
		margin-right: $global-margin;
	}
}

// Other blocks
.wp-block-quote {
	@if($admin == false){
		box-sizing: border-box;
		width: calc(40% - #{rem-calc(24)});
		margin-right: rem-calc(24);
		min-width: 250px;
		clear: both;
		float: left;

		&[style*="text-align:right"] {
			float: right;
			margin-right: 0;
			margin-left: rem-calc(24);
		}
	} @else {
		&:not(.is-large):not(.is-style-large) {
			border-left: none;
		}
	}

	&.is-style-large,
	&.is-large {
		@if($admin == false){
			width: calc(60% - #{rem-calc(24)});
			margin-right: rem-calc(24);
		}
		padding: rem-calc(8 24);

		p {
			line-height: 1.4;
		}
	}

	p {
		line-height: 1.4;
	}

	@include brackets;
}

.wp-block-pullquote {
	@include brackets($axis: y);
	clear: both;
	margin-bottom: $global-margin;
	padding: rem-calc(24);

	&, blockquote {
		border: none;
	}

	blockquote {
		margin: 0;
	}

	cite {
		text-transform: uppercase;
	}
}

.wp-block-gallery {
	clear: both;
}

.wp-block-file {
	vertical-align: middle;
	font-weight: bold;

	a {
		font-weight: bold;
	}

	* + .wp-block-file__button {
		margin-left: 0.75rem;
		margin-bottom: 0;
		vertical-align: baseline;
	}
}

.wp-block-table {
	&.is-style-stripes {
		border: $table-border;

		tr:nth-child(2n+1) {
			background-color: lighten($table-border-color, 42%);
		}
	}

	td, th {
		border-color: $table-border-color;
	}
}

.wp-block-separator {
	border-bottom-color: $hr-border-color;
	border-bottom-style: dashed;

	&.is-style-dots:before {
		color: $hr-border-color;
	}
}
